body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0px;
    flex-direction: column;
}

.upper {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.headerlogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.headerleft {
    display: flex;
    align-items: center;
    gap: 15px;
}

ul {
   list-style: none; 
   display: flex;
   gap: 20px;
}

li {
    font-weight: bold;
    font-size: 15px;
}

.featured {
    height: 200px;
    width: auto;
}

.new-release {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

.new-releaseleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin: 0px;
}

h3 {
    display: flex;
    justify-content: center;
}