body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex 1;
    margin: 0px;
}

.upper {
    color: white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.upper-color {
    background-color: #1F2937;
    display: flex;
    flex: 1;
}

.headerlogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.headerleft {
    display: flex;
    align-items: center;
    gap: 15px;
}

ul {
   list-style: none; 
   display: flex;
   gap: 20px;
}

li {
    font-weight: bold;
    font-size: 15px;
}

.featured {
    height: 200px;
    width: auto;
}

.new-release {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 800px;
    align-self: center;
    gap: 50px;
}

.new-releaseleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.featured-info {
    max-width: 300px;
    font-size: 20px;
}

h2 {
    margin: 0px;
    font-size: 45px;
}

h3 {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 35px;
    margin: 0;
}

.branch {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex: 1;
    flex-wrap: wrap;
}

.products {
    max-height: 125px;
    border-radius: 10%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.grey-box {
    background-color: #E5E7EB;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    max-width: 1100px;
    
}

.person {
    align-self: flex-end;
    margin: 0px;
}